@font-face {
    font-family: 'Avenir';
    src: url('Avenir Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Airbnb Cereal App';
    src: url('AirbnbCereal_W_Bk.otf') format('opentype');
  }
  body {
    margin: 0;
    padding: 0;
  }
  .headsec{
    margin: 0 auto;
    padding: auto;
    width: 100%;
    max-width: 1400px;
  }
  .tsec{
    margin: 0 auto;
    padding: auto;
    width: 100%;
    max-width: 1400px;
    position: relative;
  }
  .tfoot{
    margin: 0 auto;
    padding: auto;
    width: 100%;
    max-width: 1400px;
  }
.header{
    align-items: center;
    margin-top: 2.7vh;
    margin-left: 12vh;
    margin-bottom: 2.1vh;
    color: rgba(62, 129, 128, 1);
    display: flex;
    justify-content: space-between;
    max-width: 85%;
  }
  @media screen and (min-width:992px) and (max-width:1199px) {
     .header{
        margin-left: 11vh;
     }
  }
  @media screen and (min-width:768px) and (max-width:991px){
    .header{
        margin-left: 9vh;
    }
  }
  @media screen and (min-width:600px) and (max-width: 767px) {
    .header{
     margin-left: 8vh;
    }
  }
  @media screen and (max-width:599px) {
    .header{
        margin-left: 9vh;
    }
  }
  @media screen and (min-width:280px) and (max-width:499px) {
    .header{
        margin-left: 3vh;
        max-width: 85%;
    }
  }
   .leftside{
    display: flex;
  }
  .fresh{
    margin-top: .3vh;
    margin-left: 0.5vh;
    font-family: Avenir;
     font-weight: 400;
     font-size: 20px;
  }
  @media screen and (min-width:280px)  and (max-width:499px){
    .fresh{
        font-size: 16px;
    }
  }
  .build{
    font-family: Avenir;
    font-weight: 800;
    font-size: 20px;
  }
  @media screen and (min-width:280px)  and (max-width:499px){
    .build{
        font-size: 15px;
    }
  }
  .right{
    font-family: Airbnb Cereal App;
    font-weight: 700;
    font-size:16px ;
    color: rgba(50, 44, 78, 1);
  }
  @media screen and (min-width:280px) and (max-width:499px) {
    .right{
        font-size: 13px;
    }
  }
  .sechome{
    position: relative;
   background-image: radial-gradient(rgba(227, 227, 227, 1),
   rgba(215, 253, 244, 1));
   box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
   padding-bottom: 5vh;
  }
  @media screen and (min-width:1200px) {
    .sechome{
        padding-bottom: 8vh;
    }
  }
  /* @media screen and (min-width:992px) and (max-width:1199px) {
    .sechome{
        padding-bottom: 7vh;
    }
  } */
  @media screen and (min-width:768px) and (max-width:991px) {
    .sechome{
    padding-bottom: 6vh;
    }
  }
  .lefth{
    top: 7vh;
     position: absolute;
     z-index: 1;
  }
  @media screen and (min-width:768px) and (max-width:991px) {
   .lefth{
    display: none;
   } 
  }
  @media screen and (min-width:600px) and (max-width: 767px) {
    .lefth{
        display: none;
    }
  }
  @media screen and (min-width:280px) and (max-width:499px){
    .lefth{
       display: none;
    }
  }
  @media screen and (min-width:500px) and (max-width:599px){
    .lefth{
      display: none;
    }
  }
  .lefthm{
    top:5.3vh;
  }
  .righth{
    text-align: center;
    align-items: center;
  }
  .discout{
    z-index: 2;
    text-align: center;
  }
  .discover{
    padding-top: 9vh;
    line-height: 50.4px;
    font-family: Monsterrat;
    font-weight: 800;
    font-size: 42px;
    color:rgba(62, 129, 128, 1);
    font-family: Airbnb Cereal App;
  }
  @media screen and (min-width:600px) and (max-width:767px){
    .discover{
        font-size: 38px;
    }
  }
  @media screen and (min-width:280px) and (max-width:499px){
    .discover{
      padding-left: 12px;
      font-size: 33px;
      line-height: normal;
    }
  }
  .from{
    margin-top: 2vh;
    text-align: center;
    font-family: Airbnb Cereal App;
    font-weight: 500;
    font-size: 20px;
     color: rgba(50, 44, 78, 1);
  }
  @media screen and (min-width:280px) and (max-width:499px){
    .from{
        font-size: 16px;
    }
  }
  @media screen and (min-width:500px) and (max-width:599px){
    .from{
      padding-left: 12px;
      padding-right: 12px;
      font-size: 19px;
    }
  }
  @media screen and (min-width:600px) and (max-width:767px){
    .from{
        font-size: 18px;
    }
  }
  .search{
    display: flex;
    justify-content: center;
  }
  .searchf{
    padding-top:14px;
    padding-bottom: 5vh;
    cursor:pointer;
    margin-top: 3vh;
    font-weight: 0;
    font-size: 0;
    font-family: Airbnb Cereal App;
    font-weight: 600;
    font-size: 15px;
    color: 
    rgba(255, 255, 255, 1);
    width: 192px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid rgba(232, 127, 63, 1);   
    background-color: 
    rgba(232, 127, 63, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width:992px) and (max-width:1199px) {
    .searchf{
        padding-top: 13px;
    }
  }
  @media screen and (min-width:600px) and (max-width: 767px) {
    .searchf{
      padding-top: 12.5px;
    }
  }
  @media screen and (min-width:280px)and (max-width:499px){
    .searchf{
        padding-top: 14px;
       max-width: 53%;
       font-size: 13px;
    }
  }
  .thome{
    position: relative;
    font-family: Avenir;
    font-weight: 800;
    font-size: 26px;
    border: 1px rgb(241, 241, 241) solid;
    background-color: rgb(241, 241, 241);
  }
  @media screen and (min-width:768px) and (max-width:991px) {
    .thome{
        font-size: 20px;
    }
    .thome .bbuilds{
        font-size: 20px;
    }
  }
  .john{
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
  display: flex;
   padding-left: 14px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 5vh;
    font-family: Airbnb Cereal App;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.83px;
    box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    top: 20px;
    right: 0.1px;
  
  }
  @media screen and (min-width:248px) and (max-width:499px){
    .john{
      top: 1.5vh;
      font-size: 14px;
    }
  }
  @media screen and (min-width:500px) and (max-width:599px){
    .john{
      top: 1vh;
      font-size: 9px;
    }
  }
  @media screen and (max-width:1200px) {
    .john{
    line-height: normal;
    padding-left: 10px;
    font-size: 14px;
    padding-right: 3vh;
    }
  }
  @media screen and (min-width:600px) and (max-width:767px) {
    .john{
        top: 5px;
        font-size: 13px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
  }
  .daunthome{
    margin-top: 3px;
  }
  .jhons{
    margin-left: 12px;
  }
  .buy{
    line-height: 39px;
    text-align:center;
    padding-top: 9vh;
  }
  @media screen and (min-width:248px) and (max-width:499px){
    .buy{
      padding-top: 14vh;
    }
  }
  @media screen and (min-width:500px) and (max-width:599px){
    .buy{
      padding-top: 14vh;
    }
  }
  @media screen and (min-width:600px) and (max-width:767px){
    .buy{
      margin-top: 2vh;
        font-size: 20px;
        line-height: normal;
    }
  }
  .bbuilds{
    font-family: Airbnb Cereal App;
    color: rgba(62, 129, 128, 1);
    font-weight: 500;
    font-size: 26px;
  }
  @media screen and (min-width:600px) and (max-width:767px){
    .bbuilds{
        font-size: 18px;
    }
  }
  .tgrid{
    position: relative;
    padding-left: 2vh;
    margin-top: 6vh;
    display: grid;
    margin-left: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 19px;
    height: auto;
    width:auto;
  }
  @media screen and (min-width:992px) and (max-width:1199px) {
    .tgrid{
      padding-left: 1vh;
    }
  }
  @media screen and (min-width:500px) and (max-width:599px) {
    .tgrid{
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (min-width:600px) and (max-width:767px){
    .tgrid{
        grid-template-columns: 1fr;
        margin-left: 4rem;
    }
  }
  @media screen and (min-width:768px) and (max-width:991px) {
    .tgrid{
       grid-template-columns: 1fr 1fr;
      width: 90%;
      margin-left: 2rem;
    }
  }
  @media screen and (min-width:280px)and (max-width:499px){
    .tgrid{
        grid-template-columns: 1fr;
        margin-left: 0rem;
    }
  }
  @media screen and (min-width:1200px) {
    .tgrid{
      margin-left: 5rem;
      width: 86%;
    }
  }
  .tleft{
    font-family: Airbnb Cereal App;
  }
  .tleft .all{
    border: 2px 
    rgba(92, 202, 171, 1) solid;
    margin-left: 2rem;
    box-shadow: 0px 4px 44px 0px  rgba(14, 21, 50, 0.1);
  }
  @media screen and (min-width:500px) and (max-width:599px){
    .tleft .all{
      margin-left: 1rem;
    }
  }
  @media screen and (min-width:280px) and (max-width:499px){
    .tleft .all{
      margin-left: 0vh;
    }
  }
  @media screen and (min-width:768px) and (max-width:991px) {
    .tleft .all{
      margin-left: 0rem;
    }
  }
  .dollar{
     margin-bottom: 4.5vh;
  }
  .dbold{
    font-weight: 800;
    font-size: 22px;
    color: rgba(62, 129, 128, 1);
    margin-bottom: 0.5vh;
  }
  .dtext{
  font-weight: 400;
  font-size: 15.5px;
  color: rgb(29, 35, 63);
  }
  .tmid .all{
    margin-left: 1vh;
  }
  @media screen and (min-width:600px) and (max-width:767px){
    .tmid{
        margin-left: 3rem;
    }
  }
  .tmid{
    font-family: Airbnb Cereal App;
    margin-bottom: 0;
  }
  @media screen and (min-width:992px) and (max-width:1199px) {
    .tmid{
        z-index: 2;
    }
  }
.timage{
    position: absolute;
    right: 50px;
    bottom: -38px;
  }
  @media screen and (min-width:1200px) {
    .timage{
      right: -60px;
        bottom: -42px;
    }
  }
  @media screen and (min-width:500px) and (max-width:599px){
    .timage{
      display: none;
    }
  }
  @media screen and (min-width:992px) and (max-width:1199px) {
    .timage{
        z-index: 1;
    }
  }
  @media screen and (min-width:768px) and (max-width:991px) {
    .timage{
        display: none;
    }
  }
  @media screen and (min-width:600px) and (max-width:767px) {
    .timage{
        display: none;
    }
  }
  @media screen and (min-width:280px)and (max-width:499px){
    .timage{
        display: none;
    }
  }
  .timage img{
    max-width: 410px;
  }
  .all{
    margin-top: 2.6vh;
    border-radius: 10px;
    padding-left: 3.7vh;
   max-width: 365px;
    padding-right:4vh;
    padding-bottom: 3vh;
    padding-top: 7vh;
    background-color: 
    rgba(255, 255, 255, 1);
  }
  @media screen and (min-width:280px)and (max-width:499px){
    .all{
        max-width: 242px;
    }
  }
  .tleft{
    margin-left: 1rem;
  }
  @media screen and (min-width:992px) and (max-width:1199px){
    .tleft .all{
      margin-left: 0rem;
    }
    .tleft{
      margin-left: 0rem;
    }
  }
  @media screen and (min-width:1200px) {
    .tleft .all{
      margin-left: 0rem;
    }
    .tleft{
      margin-left: 0rem;
    }
  }
  .tmid .all{
    max-width: 370px;
    padding-bottom: 1px;
  }
  @media screen and (min-width:280px)and (max-width:499px){
    .tmid .all{
        max-width: 242px;
        margin-left: 1rem;
    }
  }
  @media screen and (min-width:500px) and (max-width:599px){
    .tmid .all{
      max-width: 207px;
    }
  }
  .timage{
    margin-left: 6.6vh;
  }
  .tmid .all{
    padding-top: 8vh;
    padding-bottom: 14px;
}
.fgrid{
  display: grid;
  margin-top: 2vh;
   grid-template-columns: 1fr 1fr;
   font-family: Airbnb Cereal App;
   width: 80%;
   margin-left: 15rem; 
}
@media screen and (min-width:1200px) {
  .fgrid{
    width: 66%;
  }
}
@media screen and (min-width:280px) and (max-width:499px) {
    .fgrid{
      grid-template-columns: 1fr;
      margin-left: 1.5rem;
      padding-right: 2rem;
    }
}
@media screen and (min-width:992px) and (max-width:1199px){
  .fgrid{
   margin-left: 7rem;
  }
}
@media screen and (min-width:600px) and (max-width:767px){
  .fgrid{
     grid-template-columns: 1fr;
     margin-left: 8rem;
    gap: 18px;
    margin-top: 0vh; 
    }
}
@media screen and (min-width:768px) and (max-width:991px){
  .fgrid{
    width: 95%;
     margin-left: 3rem;
  }
}
.fleft .all{
  padding-top: 7vh;
  padding-bottom: 9px;
  margin-left: 3rem;
}
@media screen and (min-width:280px) and (max-width:499px) {
  .fleft .all{
    margin-left: 0rem;
  }
}
@media screen and (min-width:1200px) {
  .fleft .all{
    padding-bottom: 14px;
    margin-left: 0rem;
  }
}
@media screen and (min-width:992px) and (max-width:1199px) {
  .fleft .all{
    margin-left: 1rem;
    padding-bottom: 14px;
  }
}
@media screen and (min-width:600px) and (max-width:767px) {
  .fleft .all{
    margin-left: 0rem;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  .fleft .all{
    max-width: 336px;
    margin-left: 0rem;
    padding-right: 1rem;
    padding-bottom: 14px;
  }
}
.fright  .dollar{
  margin-top: 2px;
  margin-bottom: 37px;
}
.fright .all{
  padding-top:7vh;
  width: 400px;
  padding-bottom: px;
}
@media screen and (min-width:1200px) {
  .fright .all{
    padding-bottom: 14px;
  }
}
@media screen and (min-width:992px) and (max-width:1199px) {
  .fright .all{
    padding-bottom:7px;
  }
}
@media screen and (min-width:768px) and (max-width:991px){
  .fright .all{
    padding-right: 1rem;
    max-width: 336px;
  }
}
.fflex{
  display: flex;
}
@media screen and (max-width:992px) {
  .fflex{
    display: block;
  }
}
.find{
  font-family: Airbnb Cereal App;
  font-weight: 500;
  font-size: 26px;
  margin-top: 12vh;
  padding-top: 12vh;
  padding-left: rem;
  /*adding-right: 3vh;*/
  color: 
  rgba(14, 21, 50, 1);
}
@media screen and (min-width:1200px) {
  .find{
    padding-left: 11rem;
  }
}
@media screen and (max-width:1199px) {
  .find{
    padding-left: 3rem;
  }
}
@media screen and (max-width:1102px) {
  .find{
    padding-left :5rem;
  }
}
@media screen and (max-width:1005px) {
  .find{
    padding-left :3rem;
  }
}
@media screen and (max-width:992px) {
  .find{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-left: 0rem;
  }
}
@media screen and (max-width:499px) {
  .find{
    margin-top: 0vh;
  }
}
@media screen and (max-width:331px) {
  .find{
    font-size: 16px;
    font-weight: bold;
  }
}

.large{
  font-family: Airbnb Cereal App;
 color: rgba(14, 21, 50, 1);
  font-weight:400;
  font-size :16px; 
  padding-top: 1vh;
  padding-left: 15rem;
}
@media screen and (min-width:1200px) {
  .large{
    padding-left: 11rem;
  }
}
@media screen and (max-width:1199px) {
  .large{
    padding-left: 3rem;
  }
}
@media screen and (max-width:992px) {
  .large{
    display: flex;
    justify-content: center;
    padding-left: 1rem;
  }
}
@media (max-width:499px) {
  .large{
     display: flex;
     justify-content: center;
     padding-left: 2rem;
     margin-right: 1rem;
  }
}
@media screen and (max-width:331px) {
  .large{
    font-size: 14px;  
  }
}
.fxl{
  flex-basis: 50%;
  justify-content: left;
}
.searchfxl{
  padding-top: 12.5px;
  padding-bottom: 2.1vh;
  cursor:pointer;
  margin-top: 6vh;
  font-weight: 0;
  font-size: 0;
  margin-left: 25vh;
  font-family: Airbnb Cereal App;
  font-weight: 600;
  font-size: 15px;
  color: 
  rgba(255, 255, 255, 1);
  width: 192px;
  height: 52px;
  border-radius: 5px;
  border: 1px solid rgba(232, 127, 63, 1);   
  background-color: 
  rgba(232, 127, 63, 1);
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:992px){
  .search{
    display: flex;
    justify-content: center;
  }
  .searchfxl{
    margin-left: 0vh;
  }
  .bbuilds{
    padding-left: 5px;
    font-size: 20px;
  }
}
@media screen and (max-width:331px) {
  .bbuilds{
    font-size: 16px;
  }
}
.circle{
  /* position: relative; */
  margin-left: 7vh;
}
@media screen and (max-width:992px) {
  .circle{
    display: flex;
    justify-content: center;
  }
  }
  @media screen and (max-width:499px) {
    .circle{
      margin-left: 0rem; 
    }
  }
  @media screen and (max-width:409px) {
    .circle{
      display: none; 
    }
  }
.round-element{
  position: relative;
    margin-top: 16vh;
  width: 430px;
  height: 430px; 
  background-color: 
  rgba(92, 202, 171, 1);
  border-radius: 50%;
}
@media screen and (max-width:992px) {
  .round-element{
    margin-top: 11vh;
  }
}
@media screen and (max-width:499px) {
  .round-element{
    width: 380px;
    height: 380px;
  }
}
.building{
  position: absolute;
  /* padding-left: 12vh;
  padding-right: 12vh; */
  left: 8vh;
  max-width: 80vh;
}
.sandyimg{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url("sandy-millar-u1KG_wZTnkg-unsplash\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
@media screen and (max-width:499px) {
  .building img{
    width: 600px; 
  }
}
.listed{
  text-align: center;
  font-family: Airbnb Cereal App;
  color:  rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 12px;
  background-color: rgb(232, 127, 63);
  margin-top: 2vh;
  margin-left: 2vh;
  position: absolute;
  padding-top: 1vh;
  padding-left: 1.5vh;
  padding-bottom: 1vh;
  padding-right: 1.5vh;
  z-index: 2;
  border-radius: 5px;
}
.building img{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  max-width: 320px;
  height: auto;
  box-shadow: 0 3px 30px 0 rgba(45, 39, 71, 0.1);
}
@media screen and (max-width:499px) {
  .building img{
    max-width: 275px;
  }
}
.rright{
  font-family: Airbnb Cereal App;
  flex-basis: 88%;
  margin-right: 23vh;
  border-radius: 10px;
  background-color: 
  rgba(255, 255, 255, 1);
  padding-top: 15px;
  padding-left: 27px;
  padding-right: 3vh;
  box-shadow: 0 3px 30px rgba(45, 39, 71, 0.1);
}
.detals{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: Airbnb Cereal App;
  padding-top: 10px;
  background-color: #ffffff;
 color: rgba(104, 104, 104, 1);
 box-shadow: 0 3px 30px 0 rgba(45, 39, 71, 0.1);
}
.fdetails{
   margin-top: 3px;
    display: flex;
}
.w1294{
  margin-left: 3vh;
   font-weight: 700;
   font-size: 16px;
  color:rgba(50, 44, 78, 1);
  }
.bd,.bth,.sqfeet{
  font-weight: 400;
  font-size: 14px;
  margin-right: 1.8vh;
  color :rgba(104, 104, 104, 1);
}
.bd,.amount{
margin-left: 3vh;
}
.amount{
  margin-top: 3px;
  font-weight: 700;
  font-size: 18px;
  color:rgba(50, 44, 78, 1);
}
.catg{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 3vh;
  margin-top: 17px;
}
.completer, .neighbour, .school, .date{
  font-weight: 400;
  font-size: 14px;
  color: rgba(155, 155, 155, 1);
}
.date{
  font-weight: 700;
  font-size: 14px;
  color: 
  rgba(50, 44, 78, 1);
}
.neighbour{
  margin-top: 1.8vh;
}
.school{
  margin-top: 2vh;
  margin-bottom: 23px;
}
@media screen and (max-width:499px) {
  .school{
    margin-bottom: 15px; 
  }
}
.col2 img{
  width: 27px;
  height: 27px;
}
.aneg,.bplus,.date{
  align-items:right;
  text-align:right;
}
.aneg,.bplus,.date{
  margin-right: 3vh;                         
}
.simage{
  margin-top: 30px;
   margin-left: 16vh;
}
@media screen and (min-width:1200px) {
  .simage{
    margin-left: 8vh;
  }
}
@media screen and (max-width:992px) {
.simage{
    display: none;
  }
}
.rating{
  display: flex;
  max-width: 100%;
}
@media screen and (max-width:992px) {
  .rating{
    margin-top: 12vh;
  }
}
@media screen and (max-width:406px) {
  .rating{
    margin-top: 9vh;
    display: block;
  }
}
.startimg{
  display: flex;
  padding-bottom: 3px;
  }
  .rleft{
    justify-content: center;
    text-align: left;
    font-family: Airbnb Cereal App;
    margin-right: 35px;
    padding-right: 3vh;
    flex-basis: 88%;
    margin-left: 33vh;
    padding-top: 15px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: 
    rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 30px 0px rgba(45, 39, 71, 0.1) ;
     padding-bottom: 1.5vh;
  }
  @media screen and (max-width:992px) {
    .rleft{
      margin-left: 2vh;
      padding-bottom: 2vh;
    }
  }
  @media screen and (max-width:406px) {
    .rleft{
      margin-left: 34px;
    }
  }
  .rtext{
    font-family: Airbnb Cereal App;
    font-weight: 100;
    font-size: 14px;
    color:
    rgb(101, 97, 122) ;
  }
  .rfooter{
    height: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: 
    rgba(62, 129, 128, 1);
    font-weight: 700;
    font-size: 16px;
  }
  .owner{
    font-weight: 600;
    margin-top: 1px;
    font-size: 12px;
    line-height: 15.62px;
    color: rgba(50, 44, 78, 1);
    margin-bottom: 0.52vh;
  }
  .rright{
    font-family: Airbnb Cereal App;
    flex-basis: 88%;
    margin-right: 23vh;
    border-radius: 10px;
    background-color: 
    rgba(255, 255, 255, 1);
    padding-top: 15px;
    padding-left: 27px;
    padding-right: 5vh;
    box-shadow: 0 3px 30px rgba(45, 39, 71, 0.1);
  }
  @media screen and (max-width:992px) {
    .rright{
      margin-right: 2vh;
    }
  }
  @media screen and (max-width:406px) {
    .rright{
      margin-top: 5vh;
      margin-right: 5vh;
      margin-left: 5vh;
      padding-bottom: 2vh;
    }
  }
.whatever{
  margin-top: 11vh;
  text-align: center;
}
@media screen and (max-width:631px) {
  .whatever{
    font-size: 23px;
    margin-top: 8vh;
  }
  .whatever .bbuilds{
    font-size: 22px;  
  }
}
@media screen and (max-width:499px) {
  .whatever{
    font-size: 19px;
  }
  .whatever .bbuilds{
    font-size: 19px;
  }
}
@media screen and (max-width:433px) {
  .whatever{
    font-size: 17px;
  }
  .whatever .bbuilds{
    padding-left: 1px;
    font-size: 16px;
  }
}
@media screen and (max-width:347px) {
  .whatever{
    font-size: 22px;
  }
  .whatever .bbuilds{
    font-size: 22px;
  }
}
.gridcondos{
  margin-top: 8vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 13vh;
  padding-right: 9vh;
  gap: 29px;
  align-items: center;
}
@media screen and (max-width:1209px) {
  .gridcondos{
    grid-template-columns: 1fr 1fr;
  }
}
.condos{
  padding-top: 4vh;
  background-color:
  rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 3px 30px rgba(45, 39, 71, 0.1);
}
@media screen and (max-width:485px) {
  .condos .group{
    text-align: center;
  }
}
.group{
  padding-bottom: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:485px) {
  .group{
    display: block;
  }
}
.cdtext{
  margin-top: 1.5vh;
  margin-left: 1.2vh;
  font-family: Airbnb Cereal App;
  font-weight: 600;
  font-size: 16px;
  color: rgba(50, 44, 78, 1);
}
@media screen and (max-width:499px) {
  .cdtext{
    text-align: center;
    margin-right:9px;
  }
  .imagecd img{
    max-width: 20px;
  }
}
.condos1{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4vh;
  
  background-color:
  rgba(255, 255, 255, 1);
  border-radius: 10px;
  margin-top: 3vh;
  box-shadow: 0px 3px 30px rgba(45, 39, 71, 0.1);
}
.col4dos .condos{
  margin-left: 4vh;
}
@media screen and (max-width:1209px) {
  .col4dos .condos{
    margin-left: 0vh;
  }
}
.col4dos .condos1{
  margin-left: 4vh;
}
@media screen and (max-width:1209px) {
  .col4dos .condos1{
    margin-left: 0vh;
  }
}
.col1dos .condos{
margin-left: 3vh;
}
@media screen and (max-width:1209px) {
  .col1dos .condos{
    margin-left: 0vh;
  }
}
.col1dos .condos1{
  margin-left: 3vh;  
}
@media screen and (max-width:1209px) {
  .col1dos .condos1{
    margin-left: 0vh;
  }
}